body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline;
}

.logoContainer {
    /*width: 100%;*/
    /*margin: auto 0;*/
    /*position: relative;*/
}

.logoContainer img {
     width: 75%;
     margin: 10%;
     position: relative;
     /*box-shadow: 10px 10px 5px #000000;*/
     -webkit-filter: drop-shadow(1px 1px 4px black);
     filter:         drop-shadow(1px 1px 4px black);
 }

.logoContainer p {
    color: rgba(255,255,255,.45);
    font-size: 40pt;
    font-family: sans-serif;
    position: relative;
    margin: 0;
    text-align: center;


}